.custom_form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: antiquewhite;
  margin-top: 20px;
  border: none;
}
.titulo {
  text-align: center;
  color: rgb(167, 160, 152);
  margin-top: 12px;
}
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input[type="text"],
.textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: solid 1px#007bff;
}

.input[type="submit"] {
  background-color: rgb(112, 8, 8);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.input[type="submit"]:hover {
  background-color: rgb(212, 18, 18);
}

.danger {
  font-size: 12px;
  color: rgb(210, 39, 39);
  text-align: center;
}
.teams {
  background-color: rgb(112, 8, 8);
  margin-bottom: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.selectedTeam {
  background-color: rgb(203, 14, 14);
  padding: 5px;
  margin: 3px;
  text-align: center;
}
.deleteButton {
  border: none;
  margin-left: 12px;
  border-radius: 12px;
  background-color: rgb(213, 119, 137);
  cursor: pointer;
}
