.APP {
  min-height: 100vh;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-attachment: fixed;
}
